# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/
.vs/

# TypeScript v1 declaration files
typings/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Discord developer token
token.json