/* You can add global styles to this file, and also import other style files */

$bg-light: #393f44;
$bg-dark: #363a3f;

html,
body {
  background-color: $bg-light;
  height: 100vh;
  overflow-x: hidden;
  color: ivory;
}

.header {
  background-color: $bg-dark;
}
.card {
  background-color: $bg-light;
  color: white;
  border-radius: 12px;
  padding: 1.5rem;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.75);
}