.bot {
  background-color: darkslateblue;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;
  font-weight: bold;
  font-size: 80%;
}

.title {
  background-color: white;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  color: darkslateblue;
  font-size: 80%;
}
