.bot {
  background-color: lightseagreen;
  border-radius: 5px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
  padding: 5px;
  font-weight: bold;
  color: darkslateblue;
}

.title {
  background-color: darkslateblue;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  padding: 5px;
  color: lightseagreen;
}
