<div class="widget" *ngIf="data">
  <div class="card">
    <div class="row">
      <div class="col-5" *ngIf="channels">
        <div class="container-fluid">
          <h3>Channels</h3>
          <div class="channels-container">
            <div class="channels text-white" *ngFor="let channel of channels">
              <div class="my-1 channel">
                <h4 class="font-weight-bold my-0">
                  {{channel.name}}
                </h4>
                <div class="members text-white d-inline-block" *ngFor="let member of channel.members">
                  <div class="member-pill">
                    <img [src]="member.avatar_url">
                    <h6>{{member.nick || member.username}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col" *ngIf="members">
        <div class="container-fluid">
          <h3 class="text-left">Online Members</h3>
          <div class="members-container">
            <div class="members text-white d-inline-block" *ngFor="let member of members">
              <div class="member-pill">
                <img [src]="member.avatar_url">
                <h6>{{member.nick || member.username}}</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="invite text-right">
    <a class="font-decoration-none text-white" href="{{data.instant_invite}}">
      INVITE
    </a>
  </div>
</div>
